:root{
    --naranja3d:  #FFB443;
    --naranja1: #ffff89;
    --naranj2: #ffcc50;
    --naranja4: #c06500;
    --naranja5: #853400;
    --white: #f3f3f3;
    --widthTotal: 96vw;
    --heightTotal: 96vh;
    --redSelected: #b40900;
  }